<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jake</title>
  <link type="text/css" rel="stylesheet" href="Edmisten_Jake.css"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div id="jumbotron text-center">
		<nav>
			<ul>
				<li><a href="index">Dejan</a></li>
				<li><a href="shirts">Apparel</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="shop">Calculate</a></li>
				<li><a href="about">About</a></li>
				<li><a href="guestbook">Guestbook</a></li>
			</ul>
		</nav>
	</div>
	<div id="content">
	  <h2 class="head">T-Shirts</h2>
		<div class="row">
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Blue</p></div>
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Green</p></div>
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Red</p></div>
		</div> 
		<div class="row">
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Blue</p></div>
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Green</p></div>
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Red</p></div>
		</div> 
		<div class="row">
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Blue</p></div>
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Green</p></div>
			<div class="col-sm-4"><img src="images/tshirt.png" alt="tshirt"></img>
			<p>Red</p></div>
		</div> 
  </div>
</body>
</html>